<!-- <div>
    Here you cann add a Reservation</div>

<br/><br/>
Here you add a Reservation.<br/><br/>
<h2>Add a Reservation</h2>
<br>
<label>Date</label>
<div>
 <input #reservationsdatebox type="text" [(ngModel)]="reservationsdate" required>
</div>
<label>Time</label>
<div>
 <input #reservationstimebox type="text" [(ngModel)]="reservationstime" required>
</div>
<label>Seats</label>
<div>
 <input #restaurantSeatsbox type="text" [(ngModel)]="restaurantSeats" required>
</div>
<label>Restaurant</label>
<div>
 <input #restaurantnamebox type="text" [(ngModel)]="restaurantname" required>
</div>
<button (click)="storeDataOnDB()">Send data to server</button>
<br/><br/> -->


<html lang="de">



<head>
  <meta charset="UTF-8">

  <title>login</title>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form  (ngSubmit)="storeDataOnDB()"  >

<!--Date-->
          <div class="form-group">
            <label for="email">Date</label>
            <input  class="form-control" #reservationsdatebox type="text" [(ngModel)]="reservationsdate" required>

          </div>

<!--Time-->
            <div class="form-group">
            <label for="password">Time</label>
            <input class="form-control"  #reservationstimebox type="text" [(ngModel)]="reservationstime" required>

  </div>


<!--Seats-->
          <div class="form-group">
            <label for="password">Seats</label>
            <input class="form-control" #restaurantSeatsbox type="text" [(ngModel)]="restaurantSeats" required>
          </div>
<!--Restaurant-->
          <div class="form-group">
            <label for="password">Restaurant</label>
            <input  class="form-control" #restaurantnamebox type="text" [(ngModel)]="restaurantname" required>

          </div>
          
          
<!--BUTTON-->
          <div class="form-group">
            <button  class="btn btn-primary" type="submit">
            Reservieren
            </button>
          </div>


        </form> 


      </div>



    </div>


  </div>
  


</body>
</html>

